body{margin:0;padding:0;background:#fee;font-size:12px;overflow:auto}
.kisser {

  position:absolute;
  z-index: 1000;
  top:0;

  left:0;

  visibility:hidden;

}
#mainDiv{width:100%;height:100%}
#loveHeart{float:left;width:670px;height:625px}
#garden{width:100%;height:100%}
#elapseClock{text-align:center;margin-left:30px;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sans-serif";width:500px;font-size:27px;color:#666}
#messages{font-family:"love";letter-spacing:3px;text-align:right;margin-right:0px;display:none}
#elapseClock .digit{font-family:"digit";font-size:36px}
#loveu{font-family:"love";letter-spacing:3px;padding:5px;font-size:24px;margin-top:50px;margin-right:50px;text-align:right;display:none}
#loveu .signature{margin-top:10px;margin-right:130px;font-size:22px;font-style:italic}
#clickSound{display:none}
#leftSide{float:left;width:460px}
#code{float:left;width:560px;height:650px;color:#333;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:12px}
#code .string{color:#2a36ff}
#code .keyword{color:#7f0055;font-weight:bold}
#code .placeholder{margin-left:26.5px}#code
#code .comments{color:#3f7f5f}
#code .proto{color:#7f5f3f}
#slide{float:left;width:1130px;;margin-top:50px;display:none}
#outerCircleText {font-style:italic;font-weight:bold;font-family:'comic sans ms',verdana,arial;color: #000;position:absolute;top:0;left:0;z-index:3000;cursor:default;}
#outerCircleText div {position:relative;}
#outerCircleText div div {position:absolute;top:0;left:0;text-align:center;}

#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}